<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>caos</title>
</head>
<body>
    <audio id="audio" src="{{ url_for('static', filename='piano.mp3') }}" loop>
        Seu navegador não suporta o elemento de áudio.
    </audio>
    <button onclick="playAudio()">''''''''''</button>

    <script>
        function playAudio() {
            const audio = document.getElementById('audio');
            audio.play();
        }
    </script>
</body>
</html>